.fon {
    display: none;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.content__ingredients {
    background-color: rgb(231, 231, 231);
    max-width: 800px;
    margin: auto;
    height: 790px;
    box-shadow: 1px 1px 6px 0px black;
    border-radius: 10px;
    overflow: auto;
}

footer {
    position: fixed;
    bottom: 26px;
}

#fon .content__ingredients {
    margin: 142px auto;
    border: 1px solid #888;
    height: 77%;
    z-index: 99999;
}

.content__ingredients-title-text {
    color: white;
}

.modalActive {
    display: block;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#fon .content__ingredients .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.content__ingredients-title {
    background-color: rgba(255, 208, 0);
    padding: 1px 10px 1px 0px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    top: 89px;
    width: 790px;
}

.categories {
    width: 710px;
    height: 50px;
    margin: 22px auto;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

.categories-link {
    font-size: xx-large;
    padding: 0px 15px 0px 16px;
    color: black;
    text-decoration: none;
}

.content__ingredients-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.content__ingredients-button-next {
    margin: 15px;
    background-color: rgb(216, 83, 83);
    border: none;
    color: white;
    width: 115px;
    height: 33px;
    border-radius: 10px;
}

.content__ingredients-button-next-back {
    margin: 15px;
    background-color: rgb(216, 83, 83);
    border: none;
    color: white;
    width: 115px;
    height: 33px;
    border-radius: 10px
}

.content__ingredients-button-next:hover {
    background-color: rgb(206, 60, 60);
}

.content__ingredients-button-next:active {
    background-color: rgb(184, 1, 1);
}

.content__ingredients-button-next-back:hover {
    background-color: rgb(206, 60, 60);
}

.content__ingredients-button-next-back:active {
    background-color: rgb(184, 1, 1);
}

#content__ingredients-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
}

.footer-text {
    background-color: white;
    padding: 15px;
    width: 770px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(216, 83, 83);
    box-shadow: 1px 3px 4px 0px black;
}

.itog-price {
    display: inline-flex;
}

#fon--active {
    visibility: visible;
}

#fon--active .content__ingredients {
    transform: scale(1);
    opacity: 1;
}

.price-popup {
    width: 202px;
    cursor: pointer;
}

.active {
    width: 202px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(85, 255, 0, 0.774);
    box-shadow: 0px 0px 9px -3px
}

.step {
    font-size: xx-large;
    padding: 0px 15px 0px 16px;
    color: black;
    text-decoration: none;
    background-color: red;
}


.edit-button-modal {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgba(255, 196, 0, 0.959);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-family: system-ui;
    box-shadow: 1px 1px 5px -1px black;
}


.price-boll2 {
    background-color: rgba(255, 208, 0, 0.774);
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    margin: 7px 22px 26px 14px;
    box-shadow: 0px 0px 9px -3px
}

.price-boll {
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 12px 0px 0px 12px;
}

.price-text {
    color: rgb(206, 60, 60);
    font-family: sans-serif;
    font-weight: 600;
}

.text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.content__ingredients-img {
    margin-top: 15px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    object-fit: fill;
}

.price-popup:hover {
    border-radius: 10px;
    background-color: rgba(255, 208, 0, 0.774);
    box-shadow: 0px 0px 9px -3px
}